body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../images/login.jpg") center center no-repeat;
    background-size: cover;
}

.login-panel {
    width: 320px;
    margin-bottom: 13px;
    /* background: #fff; */
}

.logo {
    width: 64px;
}

.floating-top .form-control {
    border-radius: .375rem .375rem 0 0;
}

.floating-top .form-control:focus {
    position: relative;
    z-index: 1;
}

.form-floating>label {
    z-index: 2;
}

.floating-bottom .form-control {
    border-top: none;
    border-radius: 0 0 .375rem .375rem;
}
/* .footer{
    left: calc(50% - 85.5px);
    bottom: 1%;
} */